* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--lightblue-color: #29b1dd;
	--gray-color: #dddddd;
	--card-bg-color: #f5f5f5; 
}

html {
	font-family: sans-serif;
}

body {
	background-color: var(--gray-color);
	min-height: 100vh;
}

header {
	background-color: #ffffff;
	color: var(--lightblue-color);
	font-size: 20px;
	padding: 1rem 0 .2rem .5rem;
}

nav {
	background-color: var(--lightblue-color);
	color: white;
	text-transform: uppercase;
	line-height: 4rem;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 500;
}

.card {
	background-color: var(--card-bg-color);
}